<div class="six columns">
  <h3>About me?</h3>
  <p>I'm a developer since 2001, focused in web since 2009, developing both in front-end and back-end sides.</p>
  <p>My best skills are: Ruby on Rails, Javascript, PHP, Delphi, HTML5/CSS3, Linux.</p>
  <p>
    I currently work at <a href="http://www.kimitachi.com.br" target="_blank">Kimitachi</a> and I'm founder/copartner of <a href="http://www.sharpen.com.br" target="_blank">Sharpen</a>.
  </p>
</div>

<div class="six columns">
  <h3>Leave a message</h3>
  <%= form_for @contact do |f| %>
    Name:
    <%= f.text_field :name %>
    Email:
    <%= f.text_field :email %>
    Message:
    <%= f.text_area :message %>
    <%= f.submit "Send" %>
  <% end %>
</div>