<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Julio André Budal | Profile</title>
  <meta name="description" content="Julio Budal profile page">
  <meta name="author" content="Julio André Budal">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <div class="container">

    <header class="twelve columns">

      <div class="header-wrapper cf">

        <div class="fl logo">
          <a href="/">
            <h1 class="remove-bottom">Julio André Budal</h1>
          </a>
          <h5 class="">Software Engineer | <a href="http://www.sharpen.com.br">Sharpen</a> Founder </h5>
        </div>

        <span class="login-nav fr">
          <% unless admin_signed_in? %>
            <%= link_to "Login", new_admin_session_path, class: "btn" %>
          <% else %>
            <%= link_to "Logout", destroy_admin_session_path, method: "DELETE", class: "btn" %>
            <%= link_to "Administration", admin_contacts_path, class: "btn" %>
          <% end %>
        </span>

      </div>

    </header>

    <% flash.each do |name, msg| %>
      <div class="twelve columns">
        <div class="alert alert-<%= name %>">
          <%= msg  %>
        </div>
      </div>
    <% end %>

    <%= yield %>

  </div><!-- container -->

  <%= yield :bottom %>

</body>
</html>